<<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div id="alertModalBody" class="modal-body">
            {{msg}}
        </div>
        <div class="modal-footer" style="text-align: center;">
            <button id="alertModalFooterButton" type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" onclick="$('#dialogModal').modal('hide');">
                OK
            </button>
        </div>
    </div>
</div>

