<<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div id="dialogModalBody" class="modal-body">
            {{msg}}
        </div>
        <div class="modal-footer" style="text-align: center;">
            {{#buttonsWithLabel}}
            <button id="dialogModalFooterButton" type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" onclick="{{callback}}">
                {{label}}
            </button>
            {{/buttonsWithLabel}}
        </div>
    </div>
</div>

