<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="panel panel-default">
	<div class="panel-heading" style="height: 55px;">
		<a class="pull-right" onclick="Information.hide();"><i
			class="glyphicon glyphicon-remove"
			style="color: #777; float: right; padding-top: 14px;"></i></a> <b
			id="informationHeaderTitle" style="float: left; padding-top: 10px;"><script>
				$("#informationHeaderTitle").html(
						Globalization.labels.information.headerTitle)
			</script></b>
	</div>
</div>
<div id="informationInner" class="commonMenuInner" style="padding: 0px 10px;">
	<p id="informationFirstP">
		<script>
			$("#informationFirstP").html(
					Globalization.labels.information.firstP)
		</script>
	</p>
	<p id="informationSecondP">
		<script>
			$("#informationSecondP").html(
					Globalization.labels.information.secondP)
		</script>
	</p>

	<p id="informationThirdP">
		<script>
			$("#informationThirdP").html(
					Globalization.labels.information.thirdP)
		</script>
	</p>
	<p id="informationFourthP">
		<script>
			$("#informationFourthP").html(
					Globalization.labels.information.fourthP)
		</script>
	</p>

	<p id="informationFifthP">
		<script>
			$("#informationFifthP").html(
					Globalization.labels.information.fifthP)
		</script>
	</p>

    <p id="informationFifthBP">
        <script>
            $("#informationFifthBP").html(
				Globalization.labels.information.fifthBP)
        </script>
    </p>
	
	<p id="informationSixthP">
		<script>
			$("#informationSixthP").html(
					Globalization.labels.information.sixthP)
		</script>
	</p>
	
	<p id="informationSeventhP">
		<script>
			$("#informationSeventhP").html(
					Globalization.labels.information.seventhP)
		</script>
	</p>
	
	<i id="informationFirstI"><script>
		$("#informationFirstI").html(Globalization.labels.information.firstI)
	</script></i>

	<p>
		<a id="informationLog" onclick="Log.showLogTracker();">TrackerLog</a>
	</p>

    <p>
        <a id="informationLog" onclick="LogRecommender.show();">
            RecommenderLog
        </a>
    </p>
	<!-- <p>
		<a id="informationLogRecommender" onclick="LogRecommender.show();">Log Recommender</a>
	</p>
	<i id="deviceID"><script>
		$("#deviceID").html(application.uid)
	</script></i> -->
</div>
