<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<style>

.principalMenuButton{
    text-align:center; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
    background-color: #FAFAFA;  
    position: relative; 
    float: left; 
    width: 30%;
    height: 70px;
    padding-top: 5px; 
    margin: 1.5%
}

.principalMenuButton:active {
    box-shadow: none;
    background-color: #EEEEEE;  
}

.principalMenuButtonRemoved{
    text-align:center; 
    background: rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    position: relative; 
    float: left; 
    width: 30%;
    height: 70px;
    padding-top: 5px; 
    margin: 3px 1.5% 3px 1.5%;
    display:none
}

.step {
  font-size: 14px;
  background: #F70505;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em; 
  position: absolute;
  z-index: 1;
  bottom: -8px;
  right: -5px;
}

.textCaption {
	position:absolute;
    bottom: 1px;
    left:6px;
    right: 6px;
}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #F70505;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}

.ui-state-default{
    border: 2px solid darkblue;
    border-radius: 2px;
}

.ui-state-hover{
    opacity: 0.5
}
</style>
<div class="panel panel-default">
	<div class="panel-heading" style="height: 55px;padding-left: 7px; padding-top: 1px;">
      
        <img src="img/km4city.png" width="40" height="40" onclick="PrincipalMenu.fromHomeButton = true; PrincipalMenu.show();"/>
		<b id="principalMenuHeaderTitle" onclick="PrincipalMenu.fromHomeButton = true; PrincipalMenu.show();" style="line-height: 2.5;margin-left: 10px"><script>
                $("#principalMenuHeaderTitle").html(
						Globalization.labels.principalMenu.headerTitle)
			</script></b>
	</div>
</div>
<div id="principalMenuInner" style="bottom:25px;">
            <!--{{#principalMenuButtons}}-->
            <div class="{{^removed}}principalMenuButton{{/removed}}{{#removed}}principalMenuButtonRemoved{{/removed}}" data-index="{{index}}" {{#callback}} onclick="{{callback}}; PrincipalMenu.createLastOperationButton({{index}})" {{/callback}}>
                        {{#iconClass}}<i {{#iconId}}id="{{iconId}}"{{/iconId}}  class="{{iconClass}}" style="font-size:{{iconFontSize}};color: {{iconColor}};">{{#step}}<span class="step" id="{{stepId}}"></span>{{/step}}</i>{{/iconClass}}
                        {{#imgSrc}}<img style="height:{{imgHeight}};margin-bottom: 5px;" src="{{imgSrc}}">{{/imgSrc}}
                        {{#text}}<b class="textIcon" style="font-size:{{textFontSize}};color: {{textColor}}">{{{text}}}</b>{{/text}}
                        {{#ribbon}}<div class="ribbon"><span id="{{ribbonId}}" {{#ribbonStyle}}style="{{ribbonStyle}}"{{/ribbonStyle}}>{{#ribbonText}}{{ribbonText}}{{/ribbonText}}</span></div>{{/ribbon}}
                        {{#captionId}}<b class="textCaption" id="{{captionId}}"></b>{{/captionId}}
                        {{^removed}}<span id="principalMenuMoveButton{{index}}" class="btn btn-primary iconModifing" style="display:none;padding: 0px; position: absolute;left: 0px; right: 0px; top: 0px;z-index: 1;border-radius: 0px"><script>
                            $("#principalMenuMoveButton{{index}}").html(
						Globalization.labels.principalMenuModifing.touchAndMove)
</script></span>
                        <span id="principalMenuHideButton{{index}}" class="btn btn-danger iconModifing" onclick="PrincipalMenu.removeButtonFromPrincipalMenu({{index}})"style="display:none;padding: 0px; position: absolute;right: 0px;left:0px;bottom: 0px;z-index: 1;border-radius: 0px"><script>
                            $("#principalMenuHideButton{{index}}").html(
						Globalization.labels.principalMenuModifing.hide)
</script></span>{{/removed}}
                {{#removed}}<span id="principalMenuShowButton{{index}}" class="btn btn-success iconModifing" onclick="PrincipalMenu.addButtonToPrincipalMenu({{index}})" style="display:none;padding: 0px; position: absolute;right: 0px;left: 0px; bottom: 0px;z-index: 1;border-radius: 0px"><script>
                    $("#principalMenuShowButton{{index}}").html(
						Globalization.labels.principalMenuModifing.show)
</script></span>{{/removed}}
                        
            </div>
            <!--{{/principalMenuButtons}}-->
</div>
<button id="principalMenuModifyMenuButton" type="button" class="btn btn-default"
        style="position: absolute; bottom: 0px; left: 0; width: 100%; height: 25px; padding: 0px 0px; text-align: center; font-size: 18px; border-radius: 0px;"
        onclick="PrincipalMenu.modifyPrincipalMenu();">
    <i class="glyphicon glyphicon-pencil"></i>
</button>

<button id="principalMenuResetMenuButton" type="button" class="btn btn-default"
        style="display:none; position: absolute; bottom: 0px; left: 0%; width: 50%; height: 25px; padding: 0px 0px; text-align: center; font-size: 18px; border-radius: 0px;"
        onclick="PrincipalMenu.resetPrincipalMenu();">
    <i class="glyphicon glyphicon-repeat"></i>
</button>
<button id="principalMenuSaveMenuButton" type="button" class="btn btn-success"
        style="display:none; position: absolute; bottom: 0px; left: 50%; width: 50%; height: 25px; padding: 0px 0px; text-align: center; font-size: 18px; border-radius: 0px;"
        onclick="PrincipalMenu.savePrincipalMenu();">
    <i class="glyphicon glyphicon-floppy-disk"></i>
</button>