<!-- {{#Settings}} -->
<div class="panel panel-default">
	<div class="panel-heading" style="height: 55px;">
		<a class="pull-right" onclick="SettingsManager.checkSaveSettings();"><i
			class="glyphicon glyphicon-remove"
			style="color: #777; float: right; padding-top: 14px;"></i></a> <b
			id="settingsHeaderTitle" style="float: left; padding-top: 10px;"><script>
				$("#settingsHeaderTitle").html(
						Globalization.labels.settingsMenu.headerTitle)
			</script></b>
	</div>
</div>
<div id="settingsMenuInner" class="{{platform}}">
	<!-- {{#groups}} -->
	<div class="panel panel-default card-2" id="{{key}}" style="margin: 0px 5px 20px 5px;">
		<div class="panel-heading">{{label}}</div>
		<div class="panel-body">
		<!-- {{#items}} -->
		{{^button}}<div id="{{key}}">
			<b>{{label}}</b> <select name="{{key}}"
				class="form-control" style="width: 100%;margin-bottom: 5px;">
				<!-- {{#options}} -->
				<option value="{{key}}"{{selected}} >{{label}}</option>
				<!-- {{/options}} -->
			</select>
			</div>
		{{/button}}
			{{#button}}
				<b>{{title}}</b><br>
				<button type="button" class="btn btn-default"
						onclick="{{onclick}}" style="margin-bottom: 5px;">{{label}}</button>
			{{/button}}
			<!-- {{/items}} -->
		</div>
	</div>
	<!-- {{/groups}} -->
</div>
<button id="settingsDefaultButton" type="button" class="btn btn-primary"
	style="color: white; position: absolute; bottom: 0px; left: 0%; width: 33%; height: 25px; padding: 0px 0px; text-align: center; font-size: 18px; border-radius: 0px;"
	onclick="SettingsManager.resetSettings()">
	<script>
			$("#settingsDefaultButton").html(
					Globalization.labels.settingsMenu.defaultButton)
		</script>
</button>
<button id="settingsCancelButton" type="button" class="btn btn-danger"
	style="color: white; position: absolute; bottom: 0px; left: 33%; width: 34%; height: 25px; padding: 0px 0px; text-align: center; font-size: 18px; border-radius: 0px;"
	onclick="SettingsManager.cancelChanges();SettingsManager.hideSettingsMenu();">
	<script>
			$("#settingsCancelButton").html(
					Globalization.labels.settingsMenu.cancelButton)
		</script>
</button>
<button id="settingsSaveButton" type="button" class="btn btn-success"
	style="color: white; position: absolute; bottom: 0px; left: 67%; width: 33%; height: 25px; padding: 0px 0px; text-align: center; font-size: 18px; border-radius: 0px;"
	onclick="application.resetInterface();MapManager.resetMarker(); SettingsManager.saveSettings();">
	<script>
			$("#settingsSaveButton").html(
					Globalization.labels.settingsMenu.saveButton)
		</script>
</button>

<!-- {{/Settings}} -->