<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="panel panel-default">
	<div class="panel-heading" style="height: 55px;">
        <a class="pull-right" onclick="StartInformation.hide();">
            <i class="glyphicon glyphicon-remove"
               style="color: #777; float: right; padding-top: 14px;"></i>
        </a>
		<b id="startInformationHeaderTitle"
			style="float: left; padding-top: 10px;"><script>
				$("#startInformationHeaderTitle").html(
						Globalization.labels.information.headerTitle)
			</script></b>
	</div>
</div>
<div id="startInformationInner">
	<p id="startInformationFirstP">
		<script>
			$("#startInformationFirstP").html(
					Globalization.labels.information.firstP)
		</script>
	</p>
	<p id="startInformationSecondP">
		<script>
			$("#startInformationSecondP").html(
					Globalization.labels.information.secondP)
		</script>
	</p>

	<p id="startInformationThirdP">
		<script>
			$("#startInformationThirdP").html(
					Globalization.labels.information.thirdP)
		</script>
	</p>
	<p id="startInformationFourthP">
		<script>
			$("#startInformationFourthP").html(
					Globalization.labels.information.fourthP)
		</script>
	</p>

	<p id="startInformationFifthP">
		<script>
			$("#startInformationFifthP").html(
					Globalization.labels.information.fifthP)
		</script>
	</p>

    <p id="startInformationFifthBP">
        <script>
            $("#startInformationFifthBP").html(
				Globalization.labels.information.fifthBP)
        </script>
    </p>

    <p id="startInformationSixthP">
        <script>
            $("#startInformationSixthP").html(
					Globalization.labels.information.sixthP)
        </script>
    </p>

    <p id="startInformationSeventhP">
        <script>
            $("#startInformationSeventhP").html(
					Globalization.labels.information.seventhP)
        </script>
    </p>

	<i id="startInformationFirstI"><script>
		$("#startInformationFirstI").html(
				Globalization.labels.information.firstI)
	</script> </i>

</div>

<!--<button id="startInformationAcceptButton" type="button"
	class="btn btn-success"
	style="color: white; position: absolute; bottom: 5px; left: 35%; width: 30%; height: 32px; padding: 0px 0px; text-align: center; font-size: 22px"
	onclick="StartInformation.accept();">
	<script>
		$("#startInformationAcceptButton").html(
				Globalization.labels.information.acceptButton)
	</script>
</button>-->