<li>

    <a id="threeVerticalDotSettings" onclick="SettingsManager.showSettingsMenu();" style="text-align: center">
        <script>
            $("#threeVerticalDotSettings").html(
                Globalization.labels.threeVerticalDotMenu.settings)
        </script>
    </a>
</li>
<li class="divider"></li>
<li>
    <a id="threeVerticalDotInfo" onclick="Information.show();" style="text-align: center">
        <script>
            $("#threeVerticalDotInfo").html(
                Globalization.labels.threeVerticalDotMenu.information)
        </script>
    </a>
</li>

