<?xml version='1.0' encoding='utf-8'?>
<widget id="org.disit.siiMobilityAppKit" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="windows-target-version" value="10.0" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="Orientation" value="portrait" />
    <preference name="WindowsToastCapable" value="true" />
    <allow-navigation href="*" />
    <access origin="*" />
    <name>siiMobilityAppKit</name>
    <description>
        A sample Apache Cordova application to service on Tuscany
    </description>
    <author email="info@www.disit.org" href="http://www.disit.org">
       Disit Lab Team - University of Florence
    </author>
    <content src="main.html" />
    <engine name="android" spec="^6.4.0" />
    <plugin name="cordova-plugin-badge" spec="^0.8.5" />
    <plugin name="cordova-plugin-ble-central" spec="^1.1.4" />
    <plugin name="cordova-plugin-calendar" spec="^4.6.0" />
    <plugin name="cordova-plugin-camera" spec="^3.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-dialogs" spec="^1.3.4" />
    <plugin name="cordova-plugin-file" spec="^5.0.0" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.0" />
    <plugin name="cordova-plugin-geolocation" spec="^3.0.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.2" />
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
    <plugin name="cordova-plugin-legacy-whitelist" spec="^1.1.2" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.4" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.3.0" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.6" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.2.1" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.0" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.7" />
    <plugin name="cordova-plugin-fastrde-checkgps" spec="^1.0.0" />
    <plugin name="com.darktalker.cordova.screenshot" spec="^0.1.6" />
</widget>
