<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.disit.siiMobile.backgroundService"
        version="0.1">

   <name>Background Service Plugin - Background Tracker</name>

   <description>
      Background Tracker of Wi FI signal that use of the Cordova Android Background Service
   </description>

   <license>MIT</license>

   <engines>
      <engine name="cordova" version=">=3.0.0"/>
   </engines>

   <!-- Load in the core background service -->
   <dependency id="com.red_folder.phonegap.plugin.backgroundservice" url="https://github.com/Red-Folder/bgs-core.git" commit="9d947a9f1858284b312ad1032de6af590b33fa37" />

   <!-- android -->
   <platform name="android">

      <js-module src="www/backgroundServices.js" name="BackgroundServices">
         <clobbers target="cordova.plugins.backgroundServices" />
      </js-module>

     <source-file src="src/android/BackgroundTracker.java" target-dir="src/org/disit/siiMobile/backgroundService" />

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <service android:name="org.disit.siiMobile.backgroundService.BackgroundTracker">
            <intent-filter>         
               <action android:name="org.disit.siiMobile.backgroundService.BackgroundTracker"/> 
            </intent-filter>     
         </service>
      </config-file>
     
   </platform>
</plugin>