
.deu.Accommodation.header, .deu.Accommodation.btn{
    background: #9900FF;
}

.deu.Advertising.header, .deu.Advertising.btn {
    background: #6600FF;
}

.deu.AgricultureAndLivestock.header, .deu.AgricultureAndLivestock.btn{
    background: #336633;
}

.deu.CivilAndEdilEngineering.header, .deu.CivilAndEdilEngineering.btn{
    background: #33FF33;
}

.deu.CulturalActivity.header, .deu.CulturalActivity.btn{
    background: #339933;
}

.deu.EducationAndResearch.header, .deu.EducationAndResearch.btn{
    background: #330000;
}

.deu.Emergency.header, .deu.Emergency.btn{
    background: #0000FF;
}

.deu.Entertainment.header, .deu.Entertainment.btn{
    background: #CC00FF;
}

.deu.Environment.header, .deu.Environment.btn {
    background: #00CCFF;
}

.deu.FinancialService.header, .deu.FinancialService.btn {
    background: #FF0000;
}

.deu.GovernmentOffice.header, .deu.GovernmentOffice.btn{
    background: #0066FF;
}

.deu.HealthCare.header, .deu.HealthCare.btn{
    background: #FF9900;
}

.deu.IndustryAndManufacturing.header, .deu.IndustryAndManufacturing.btn {
    background: #33CC33;
}

.deu.MiningAndQuarrying.header, .deu.MiningAndQuarrying.btn{
    background: #660000;
}

.deu.ShoppingAndService.header, .deu.ShoppingAndService.btn {
    background: #CC0000;
}

.deu.TourismService.header, .deu.TourismService.btn {
    background: #FF6600;
}

.deu.TransferServiceAndRenting.header, .deu.TransferServiceAndRenting.btn {
    background: #FF00FF;
}

.deu.UtilitiesAndSupply.header, .deu.UtilitiesAndSupply.btn {
    background: #990000;
}

.deu.Wholesale.header, .deu.Wholesale.btn {
    background: #FFCC00;
}

.deu.WineAndFood.header, .deu.WineAndFood.btn {
    background: #0099FF;
}

.deu.Accommodation.icon {
    color: #9900FF;
}

.deu.Advertising.icon {
    color: #6600FF;
}

.deu.AgricultureAndLivestock.icon {
    color: #336633;
}

.deu.CivilAndEdilEngineering.icon {
    color: #33FF33;
}

.deu.CulturalActivity.icon {
    color: #339933;
}

.deu.EducationAndResearch.icon {
    color: #330000;
}

.deu.Emergency.icon {
    color: #0000FF;
}

.deu.Entertainment.icon {
    color: #CC00FF;
}

.deu.Environment.icon {
    color: #00CCFF;
}

.deu.FinancialService.icon {
    color: #FF0000;
}

.deu.GovernmentOffice.icon {
    color: #0066FF;
}

.deu.HealthCare.icon {
    color: #FF9900;
}

.deu.IndustryAndManufacturing.icon {
    color: #33CC33;
}

.deu.MiningAndQuarrying.icon {
    color: #660000;
}

.deu.ShoppingAndService.icon {
    color: #CC0000;
}

.deu.TourismService.icon {
    color: #FF6600;
}

.deu.TransferServiceAndRenting.icon {
    color: #FF00FF;
}

.deu.UtilitiesAndSupply.icon {
    color: #990000;
}

.deu.Wholesale.icon {
    color: #FFCC00;
}

.deu.WineAndFood.icon {
    color: #0099FF;
}


.deu.Accommodation.border {
   border-top-color: #9900FF;
}

.deu.Advertising.border {
   border-top-color: #6600FF;
}

.deu.AgricultureAndLivestock.border {
   border-top-color: #336633;
}

.deu.CivilAndEdilEngineering.border {
   border-top-color: #33FF33;
}

.deu.CulturalActivity.border {
   border-top-color: #339933;
}

.deu.EducationAndResearch.border {
   border-top-color: #330000;
}

.deu.Emergency.border {
   border-top-color: #0000FF;
}

.deu.Entertainment.border {
   border-top-color: #CC00FF;
}

.deu.Environment.border {
   border-top-color: #00CCFF;
}

.deu.FinancialService.border {
   border-top-color: #FF0000;
}

.deu.GovernmentOffice.border {
   border-top-color: #0066FF;
}

.deu.HealthCare.border {
   border-top-color: #FF9900;
}

.deu.IndustryAndManufacturing.border {
   border-top-color: #33CC33;
}

.deu.MiningAndQuarrying.border {
   border-top-color: #660000;
}

.deu.ShoppingAndService.border {
   border-top-color: #CC0000;
}

.deu.TourismService.border {
   border-top-color: #FF6600;
}

.deu.TransferServiceAndRenting.border {
   border-top-color: #FF00FF;
}

.deu.UtilitiesAndSupply.border {
   border-top-color: #990000;
}

.deu.Wholesale.border {
   border-top-color: #FFCC00;
}

.deu.WineAndFood.border {
   border-top-color: #0099FF;
}