.eng.Accommodation.header, .eng.Accommodation.btn {
    background: #330000;
}

.eng.Advertising.header, .eng.Advertising.btn {
    background: #660000;
}

.eng.AgricultureAndLivestock.header, .eng.AgricultureAndLivestock.btn {
    background: #990000;
}

.eng.CivilAndEdilEngineering.header, .eng.CivilAndEdilEngineering.btn {
    background: #cc0000;
}

.eng.CulturalActivity.header, .eng.CulturalActivity.btn {
    background: #ff0000;
}

.eng.EducationAndResearch.header, .eng.EducationAndResearch.btn {
    background: #ff6600;
}

.eng.Emergency.header, .eng.Emergency.btn {
    background: #ff9900;
}

.eng.Entertainment.header, .eng.Entertainment.btn {
    background: #ffcc00;
}

.eng.Environment.header, .eng.Environment.btn {
    background: #33ff33;
}

.eng.FinancialService.header, .eng.FinancialService.btn {
    background: #33cc33;
}

.eng.GovernmentOffice.header, .eng.GovernmentOffice.btn {
    background: #339933;
}

.eng.HealthCare.header, .eng.HealthCare.btn {
    background: #336633;
}

.eng.IndustryAndManufacturing.header, .eng.IndustryAndManufacturing.btn {
    background: #0000ff;
}

.eng.MiningAndQuarrying.header, .eng.MiningAndQuarrying.btn {
    background: #0066ff;
}

.eng.ShoppingAndService.header, .eng.ShoppingAndService.btn {
    background: #0099ff;
}

.eng.TourismService.header, .eng.TourismService.btn {
    background: #00ccff;
}

.eng.TransferServiceAndRenting.header, .eng.TransferServiceAndRenting.btn {
    background: #ff00ff;
}

.eng.UtilitiesAndSupply.header, .eng.UtilitiesAndSupply.btn {
    background: #cc00ff;
}

.eng.Wholesale.header, .eng.Wholesale.btn {
    background: #9900ff;
}

.eng.WineAndFood.header, .eng.WineAndFood.btn {
    background: #6600ff;
}

.eng.Accommodation.icon {
    color: #330000;
}

.eng.Advertising.icon {
    color: #660000;
}

.eng.AgricultureAndLivestock.icon {
    color: #990000;
}

.eng.CivilAndEdilEngineering.icon {
    color: #cc0000;
}

.eng.CulturalActivity.icon {
    color: #ff0000;
}

.eng.EducationAndResearch.icon {
    color: #ff6600;
}

.eng.Emergency.icon {
    color: #ff9900;
}

.eng.Entertainment.icon {
    color: #ffcc00;
}

.eng.Environment.icon {
    color: #33ff33;
}

.eng.FinancialService.icon {
    color: #33cc33;
}

.eng.GovernmentOffice.icon {
    color: #339933;
}

.eng.HealthCare.icon {
    color: #336633;
}

.eng.IndustryAndManufacturing.icon {
    color: #0000ff;
}

.eng.MiningAndQuarrying.icon {
    color: #0066ff;
}

.eng.ShoppingAndService.icon {
    color: #0099ff;
}

.eng.TourismService.icon {
    color: #00ccff;
}

.eng.TransferServiceAndRenting.icon {
    color: #ff00ff;
}

.eng.UtilitiesAndSupply.icon {
    color: #cc00ff;
}

.eng.Wholesale.icon {
    color: #9900ff;
}

.eng.WineAndFood.icon {
    color: #6600ff;
}




.eng.Accommodation.border {
   border-top-color: #330000;
}

.eng.Advertising.border {
   border-top-color: #660000;
}

.eng.AgricultureAndLivestock.border {
   border-top-color: #990000;
}

.eng.CivilAndEdilEngineering.border {
   border-top-color: #cc0000;
}

.eng.CulturalActivity.border {
   border-top-color: #ff0000;
}

.eng.EducationAndResearch.border {
   border-top-color: #ff6600;
}

.eng.Emergency.border {
   border-top-color: #ff9900;
}

.eng.Entertainment.border {
   border-top-color: #ffcc00;
}

.eng.Environment.border {
   border-top-color: #33ff33;
}

.eng.FinancialService.border {
   border-top-color: #33cc33;
}

.eng.GovernmentOffice.border {
   border-top-color: #339933;
}

.eng.HealthCare.border {
   border-top-color: #336633;
}

.eng.IndustryAndManufacturing.border {
   border-top-color: #0000ff;
}

.eng.MiningAndQuarrying.border {
   border-top-color: #0066ff;
}

.eng.ShoppingAndService.border {
   border-top-color: #0099ff;
}

.eng.TourismService.border {
   border-top-color: #00ccff;
}

.eng.TransferServiceAndRenting.border {
   border-top-color: #ff00ff;
}

.eng.UtilitiesAndSupply.border {
   border-top-color: #cc00ff;
}

.eng.Wholesale.border {
   border-top-color: #9900ff;
}

.eng.WineAndFood.border {
   border-top-color: #6600ff;
}
