
.ita.Accommodation.header, .ita.Accommodation.btn{
    background: #660000;
}

.ita.Advertising.header, .ita.Advertising.btn {
    background: #0000ff;
}

.ita.AgricultureAndLivestock.header, .ita.AgricultureAndLivestock.btn{
    background: #330000;
}

.ita.CivilAndEdilEngineering.header, .ita.CivilAndEdilEngineering.btn{
    background: #33cc33;
}

.ita.CulturalActivity.header, .ita.CulturalActivity.btn{
    background: #ff0000;
}

.ita.EducationAndResearch.header, .ita.EducationAndResearch.btn{
    background: #336633;
}

.ita.Emergency.header, .ita.Emergency.btn{
    background: #ff9900;
}

.ita.Entertainment.header, .ita.Entertainment.btn{
    background: #339933;
}

.ita.Environment.header, .ita.Environment.btn {
    background: #990000;
}

.ita.FinancialService.header, .ita.FinancialService.btn {
    background: #0066ff;
}

.ita.GovernmentOffice.header, .ita.GovernmentOffice.btn{
    background: #cc00ff;
}

.ita.HealthCare.header, .ita.HealthCare.btn{
    background: #cc0000;
}

.ita.IndustryAndManufacturing.header, .ita.IndustryAndManufacturing.btn {
    background: #33ff33;
}

.ita.MiningAndQuarrying.header, .ita.MiningAndQuarrying.btn{
    background: #ff6600;
}

.ita.ShoppingAndService.header, .ita.ShoppingAndService.btn {
    background: #ff00ff;
}

.ita.TourismService.header, .ita.TourismService.btn {
    background: #00ccff;
}

.ita.TransferServiceAndRenting.header, .ita.TransferServiceAndRenting.btn {
    background: #0099ff;
}

.ita.UtilitiesAndSupply.header, .ita.UtilitiesAndSupply.btn {
    background: #9900ff;
}

.ita.Wholesale.header, .ita.Wholesale.btn {
    background: #6600ff;
}

.ita.WineAndFood.header, .ita.WineAndFood.btn {
    background: #ffcc00;
}

.ita.Accommodation.icon {
    color: #660000;
}

.ita.Advertising.icon {
    color: #0000ff;
}

.ita.AgricultureAndLivestock.icon {
    color: #330000;
}

.ita.CivilAndEdilEngineering.icon {
    color: #33cc33;
}

.ita.CulturalActivity.icon {
    color: #ff0000;
}

.ita.EducationAndResearch.icon {
    color: #336633;
}

.ita.Emergency.icon {
    color: #ff9900;
}

.ita.Entertainment.icon {
    color: #339933;
}

.ita.Environment.icon {
    color: #990000;
}

.ita.FinancialService.icon {
    color: #0066ff;
}

.ita.GovernmentOffice.icon {
    color: #cc00ff;
}

.ita.HealthCare.icon {
    color: #cc0000;
}

.ita.IndustryAndManufacturing.icon {
    color: #33ff33;
}

.ita.MiningAndQuarrying.icon {
    color: #ff6600;
}

.ita.ShoppingAndService.icon {
    color: #ff00ff;
}

.ita.TourismService.icon {
    color: #00ccff;
}

.ita.TransferServiceAndRenting.icon {
    color: #0099ff;
}

.ita.UtilitiesAndSupply.icon {
    color: #9900ff;
}

.ita.Wholesale.icon {
    color: #6600ff;
}

.ita.WineAndFood.icon {
    color: #ffcc00;
}


.ita.Accommodation.border {
    border-top-color: #660000;
}

.ita.Advertising.border {
   border-top-color: #0000ff;
}

.ita.AgricultureAndLivestock.border {
   border-top-color: #330000;
}

.ita.CivilAndEdilEngineering.border {
   border-top-color: #33cc33;
}

.ita.CulturalActivity.border {
   border-top-color: #ff0000;
}

.ita.EducationAndResearch.border {
   border-top-color: #336633;
}

.ita.Emergency.border {
   border-top-color: #ff9900;
}

.ita.Entertainment.border {
   border-top-color: #339933;
}

.ita.Environment.border {
   border-top-color: #990000;
}

.ita.FinancialService.border {
   border-top-color: #0066ff;
}

.ita.GovernmentOffice.border {
   border-top-color: #cc00ff;
}

.ita.HealthCare.border {
   border-top-color: #cc0000;
}

.ita.IndustryAndManufacturing.border {
   border-top-color: #33ff33;
}

.ita.MiningAndQuarrying.border {
   border-top-color: #ff6600;
}

.ita.ShoppingAndService.border {
   border-top-color: #ff00ff;
}

.ita.TourismService.border {
   border-top-color: #00ccff;
}

.ita.TransferServiceAndRenting.border {
   border-top-color: #0099ff;
}

.ita.UtilitiesAndSupply.border {
   border-top-color: #9900ff;
}

.ita.Wholesale.border {
   border-top-color: #6600ff;
}

.ita.WineAndFood.border {
   border-top-color: #ffcc00;
}